@import 'styles/mixins.less';
@import 'styles/variables.less';

.commentsWrapper {
  margin-top: 3rem;
  width: 100%;
  .comments {
    width: 60rem;
    .tablet (@card-tablet-width);
    .mobile (@card-mobile-width);
    .ultraSmall(17rem);

    .commentField {
      width: 100%;
    }
  }
}
