@import '~antd/dist/antd.less';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'styles/mixins.less';
@import 'styles/variables.less';

body {
  font-family: 'Roboto', Tahoma;
}
.cardWrapper {
  width: @card-wrapper-width;
  .card {
    width: @card-desktop-width;
    .tablet (@card-tablet-width);
    .mobile (@card-mobile-width);
  }
}
