.header {
  position: fixed;
  z-index: 1;
  background: #fff;
  box-shadow: 0 2px 8px #283655;
  width: 100%;
  padding: 0 !important;

  .nav {
    border: 0 !important;
    display: flex;
    justify-self: end;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: 500;
  }

  .logoWrap {
    display: flex;
    align-items: center;
    width: 160px;
    height: 64px;
    padding-top: 0.75em;
  }

  .logo {
    width: 140px;
  }
}
