@mobile-screen-width: 375px;
@desktop-screen-width: 1024px;
@tablet-screen-width: 768px;

@form-item-height: 48px;
@form-item-width: 230px;

@main-theme-color: #1e1f26;
@secondary-theme-color: #283655;
