// color-pallete
@basket-black:  #1e1f26;
@basket-light-gray: #adb3c2;
@basket-light-blue: #d0e1f9;
@basket-blue: #4d648d;
@basket-dark-blue: #283655;
@bg-color: #f0f2f5;
// device screen
@mobile-screen-width: 620px;
@desktop-screen-width: 1024px;
@tablet-screen-width: 930px;
@ultra-small-screen-width: 420px;
// form
@form-item-height: 48px;
@form-item-width: 270px;
// theme
@main-theme-color: @basket-black;
@secondary-theme-color: @basket-light-blue;
@link-hover-color: @basket-blue;
// card
@card-wrapper-width: 100%;
@card-desktop-width: 45rem;
@card-tablet-width: 25rem;
@card-mobile-width: 20rem;
@card-ultra-small-width: 10rem;
// page
@page-desktop-width: 50rem;
@page-tablet-width: 35rem;
@page-mobile-width: @card-mobile-width;
@page-ultra-small-width: 17rem;
